/* * FOOTER  */
.main-footer {
  background-color: #2b285b;
  display: flex;
  flex-direction: column;
}

.footer-section {
  padding: 1.5rem 1rem;
  color: white;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-social-link {
  color: white;
  text-decoration: none;
  transition: all .5s;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-social-link>i {
  font-size: 24px;
}

.footer-social-link:hover {
  color: var(--secondary-color);
}

.footer-brand {
  color: white;
  text-align: center;
}

.footer-logo {
  display: block;
  margin: auto;
}

.footer-contact {
  padding: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.footer-contact .suscribe {
  display: flex;
  gap: .25rem;

  .email {
    width: 200px;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    height: 2rem;
    border: var(--secondary-color) 1px solid;
    border-radius: 6px;
  }

  .btn-newsletter {
    border: none;
    padding: .5rem 1rem;
    border-radius: 6px;
    color: var(--primary-color);

    &:hover {
      background-color: var(--secondary-color);
      color: white;
      cursor: pointer;
    }
  }
}

@media screen and (width > 768px) {
  .main-footer {
    flex-direction: row;
  }

  .main-footer section {
    flex: 1 1 0;
  }

  .footer-brand {
    display: flex;
  }

  .footer-contact {
    display: flex;
    justify-content: center;
  }
}
